<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455277341176-3v197ep6nhlogqhe3k9hqgvdciv7djj3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455277341176-3v197ep6nhlogqhe3k9hqgvdciv7djj3</string>
	<key>API_KEY</key>
	<string>AIzaSyDGBdWQPObAxVFAwvIjasrYtvQ0Beh39PI</string>
	<key>GCM_SENDER_ID</key>
	<string>455277341176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mymetaverse.app</string>
	<key>PROJECT_ID</key>
	<string>mymetaverse-c0326</string>
	<key>STORAGE_BUCKET</key>
	<string>mymetaverse-c0326.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455277341176:ios:dc73b8a7c1f431ac48ce0d</string>
</dict>
</plist>